* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li {
    display: inline;
}
header li a{
    color: #f5f6fa;
    text-decoration: none;
    margin: auto 5px;
    text-transform: uppercase;
}
.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}
section {
    padding: 16px 0;
}
section h2 {
    margin-bottom: 16px;
    font-size: 32px;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article {
    margin-bottom: 50px;
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 29px 52px 0px rgba(0, 0, 0, 0.4), 0px 25px 16px 0px rgba(0, 0, 0, 0.2);
}
.articles article img {
    height: 180px;
    margin: 30px auto 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.articles article header {
    text-align: center;
}
.articles article h3 {
    margin: 8px 30px;
    font-size: 24px;
}
.articles article p {
    margin: 0 30px 10px;
    text-align: justify;
}
.articles article a {
    color: #fff;
    padding: 8px;
    display: flex;
    border-radius: 5px;
    margin: 0 auto 10px;
    justify-content: center;
    width: 100px;
    text-decoration: none;
}
.articles article a:hover {
    text-decoration: underline;
}
.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}
#sports {
    background-color:  rgba(80, 159, 233, 0.582);
}
#sports h2,
#sports .articles article a {
    background-color: blue;
    text-align: center;
    border-radius: 10px;
}
#economy {
    background-color: rgba(139, 232, 255, 50%);
}
#economy h2,
#economy .articles article a {
    background-color: aqua;
    text-align: center;
    border-radius: 10px;
}
#entertainment{
    background-color: rgba(253, 0, 0, 0.1);
}
#entertainment h2,
#entertainment .articles article a {
    background-color: red;
    text-align: center;
    border-radius: 10px;
}
#tech{
    background-color: rgba(252, 1, 156, 0.1);
}
#tech h2,
#tech .articles article a {
    background-color: purple;
    text-align: center;
    border-radius: 10px;
}
